body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

/* -----------------------------------------------------HEADER------------------------------------- */
a {
    color: inherit;
    text-decoration: none;
}
.header {
    display: grid;
    align-items: center;
    max-width: 1504px;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }
  .img_logo {
    grid-area: logo;
    padding: 0 2rem;
    height: 3rem;
  }
  .nav {
    display: flex;
    align-items: center;
    grid-area: navbar;
  }
  .lien {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    font-weight: bold;
    font-size: 16px;
  }
  .lien:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
  }
  .inscription {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}
/* -----------------------------------------------------FIN HEADER------------------------------- */
main {
    max-width: 1440px;
    margin:  0 auto;
    padding: 0 2rem;
    padding-top: 0px;
}
#recherche h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
}
#recherche p  {
    padding-bottom: 5px;
}

#barre_recherche {
    display: flex;
}
#icon_localisation {
    display: flex;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}
#zone_text {
    display: flex;
    margin-top: 0px;
}
input[type=search] {
    border : 1px solid #F2F2F2;
    height: 50px;
    width: 230px;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#blue_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    font-weight: bold;   
}
#barre_filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter {
    display: flex;
}
.round {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 30px;
    margin: -3px;
}
.round .fas {
    color:#0065FC;
}
.filter {
    display: flex;
    height: 48px;
    border: 2px solid #e7e7e7;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    border-radius: 30px;
    cursor: pointer;
}
.filter:hover {
    background-color: #F2F2F2;
    transition-duration: 0.2s;
}
.filter p  {
    margin: 0 10px;
    font-weight: bold;
}
#p_filtre {
    font-weight: bold;
    font-size: 22px;
}
.logo {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.logo .fas {
    display: flex;
    border: 1px solid #F2F2F2;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 20px;
    color: #0065FC;
}
.hebergement_marseille {
    margin-top: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 20px 30px 20px;
    justify-content: space-evenly;
    width: 60%;
    
}
.hebergement_marseille h1 {
    margin: 0;
    font-size: 1.5em;
    padding-top: 40px;
    padding-left: 30px;
}
.vignette {
    background-color: white;
    padding: 6px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: 240px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.247) 2px 2px 10px 2px;
}
.vignette:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.mosaique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.vignette_image {
    height: 130px;
    width: 240px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.vignette h4 {
    margin: 8px 0 0 10px;
}
.vignette p {
    font-size: 14px;
    margin: 8px 0 0 10px;
}
.star_container {
    margin: 6px 0 2px 10px;
}

.star_container [data-active=true] {
    margin-right: 1px;
    font-size: 12px;
    color: #0065FC;
}
.star_container [data-active=false] {
    margin-right: 1px;
    font-size: 12px;
    color: #c9c9c9;
}
.more {
    font-size: 15px;
    font-weight: bolder;
    margin: 20px 0 0 0;
    padding-left: 30px;
}
#main_content {
    display: flex;
    justify-content: space-between;
}
.cote {
    display: flex;
    background-color: #F2F2F2;
    margin: 20px 0px 0 40px;
    border-radius: 20px;
    width: 30%;
    flex-direction: column;
    padding: 0 45px;
}
.cote h2 {
   font-size: 1.5em; 
   padding: 40px 0 0 0px;
   margin: 0px;
}
.title_container {
    display: flex;
    justify-content: space-between;
}
.title_container .fas {
    font-size: 25px;
    padding-top: 40px;
}
.plus_populaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vignette_2 {
    display: flex;
    background-color: white;
    margin-top: 25px;
    padding: 6px 6px 6px 6px;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000002e;
}
.vignette_2:hover { 
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.vignette_2 img {
    height: 130px;
    width: 33%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.vignette_2 h4 {
    margin: 8px 0 0 20px;
    font-weight: bold;
}
.mini_container p {
    margin: 8px 0 0 20px;
    font-size: 14px;
}
.mini_container [data-active=true] {
    color: #0065FC;
    font-size: 12px;

}
.mini_container [data-active=false] {
    color: #c9c9c9;
    font-size: 12px;
    
}
.star_containerv2 {
    margin: 30px 0 0 20px;
}
.mini_titre
{
    padding-left: 20px;
}
.activites {
    margin: 60px 0;
    
}
.vignette_3_container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vieuxport {
    width: 23%;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
}
.vieuxport:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.img_port {
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.colonne_2 {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100%;

}
.pomègues {
    width: 100%;
    height: 320px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
}
.pomègues:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.img_pomègues {
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.frioul {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
    margin-top: 60px;
}
.frioul:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.img_frioul {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.calanques {
    width: 23%;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
}
.calanques:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.img_calanques {
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.colonne_4 {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100%;
}
.notre_dame {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
}
.notre_dame:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.img_notre_dame {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.longchamp {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
    margin-top: 60px;
}
.longchamp:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.img_longchamp {
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.footer_container {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: auto; 
}
.bold {
    font-weight: bold;
    font-size: 18px;
}
.footer_container ul li {
    list-style: none;
    padding-top: 20px;
}
footer {
    background-color: #e7e7e7;
}
@media screen and (max-width: 768px) {
    
    #main_content {
        flex-direction: column-reverse;
        align-items: center;
    }
    .mosaique {
        justify-content: center;
    }
    .vignette {
        width: 40%;
        margin: 25px;
    }
    .vignette_image {
        width: 100%;
    }
    .cote
    {
        width: 100%;
        margin: 20px 0 0 0;
        padding: 20px;
    }
    .hebergement_marseille {
        width: 106%;
        margin: 20px 0 0 0;
        padding: 0 0 25px 0;
    }
    .vignette_2 {
        width: 98%;
    }
    .title_container {
        padding: 0 25px 0 0;
    }
    .activites
    {
        display: block;
    }
    .vignette_3_container {
        display: block;
        flex-wrap: wrap;
    }
    .vieuxport {
        height: 48%;
        width: 100%;
    }
    .img_port {
        height: 80%;
        width: 100%;
    }
    .colonne_2
    {
        flex-direction: row;
        width: 100%;
        height: 48%;
    }
    .pomègues{
        height: 100%;
        width: 48%;
        margin-top: 20px;
    }
    .img_pomègues {
        height: 80%;
        width: 100%;
    }
    .frioul {
        height: 100%;
        width: 48%;
        margin : 20px 0 0 4% ;
    }
    .img_frioul {
        height: 80%;
        width: 100%;
    }
    .calanques {
        height: 50%;
        width: 100%;
        margin-top: 40px;
    }
    .img_calanques {
        height: 80%;
        width: 100%;
    } 
    .colonne_4
    {
        flex-direction: row;
        width: 100%;
        height: 48%;
    }
    .notre_dame {
        height: 100%;
        width: 48%;
        margin-top: 20px;
    }
    .img_notre_dame {
        height: 80%;
        width: 100%;
    }
    .longchamp {
        height: 100%;
        width: 48%;
        margin : 20px 0 0 4% ;
    }
    .img_longchamp {
        height: 80%;
        width: 100%;
    }
    footer {
        margin-top: 650px;
    }
}   
@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
        padding: 0;
      }
      .img_logo {
        order: 0;
      }
      .headerSignup {
        order: 1;
      }
      .nav {
        order: 2;
      }
      .lien {
        border-top: transparent;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
      }
      .lien:hover {
        border-bottom-color: #0065FC;
        border-top: none;
      }
      input[type=search] {
          width: 170px;
      }
      #blue_button {
          width: 80px;

      }
      #blue_button p {
          font-size: 9px;
      }
    .footer_container {
        display: block;
        margin-top: 1270px;
    }
    .vignette {
        margin: 15px 0;
        width: 80%;
    }
    .mosaique {
        width: auto;
    }
    .hebergement_marseille {
        width: 115%;
    }
    .vieuxport {
        width: auto;
    }
    .colonne_2 {
        flex-direction: column;
    }
    .pomègues {
        width: 100%;
    }
    .frioul {
        width: 100%;
        margin-left: 0;
    }
    .frioul h3 {
        margin-top: 10px;
    }
    .calanques {
        margin-top: 350px;
        height: 43%;
    }
    .calanques h3 {
        margin-top: 5px;
    }
    .colonne_4 {
        flex-direction: column;
    }
    .notre_dame {
        width: 100%;
    }
    .notre_dame h3 {
        margin-top: 5px;
    }
    .longchamp {
        width: 100%;
        margin-left: 0;
    }
}   
@media screen and (max-width: 375px) {
    .calanques {
        margin-top: 330px;
    }
    .footer_container {
        margin-top: 1240px;
    }

}