@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), url('/fonts/Raleway-Regular.woff') format('woff');
    }  
body
{
    margin: 0px 25% 0 25%;
    font-family: "Raleway Regular";

}
header
{
    display: flex;
    justify-content: space-between;
}
header img
{
    padding-top: 35px;
}
nav ul 
{
    display: flex;
    list-style: none;
    margin-top: 0px;
}
nav ul li
{
    display: flex;
    border-top: 2px solid white;
    padding: 50px 35px 0px 35px ;    
}
nav ul li:hover
{
    border-top: 2px solid #0065FC;
}
#recherche h1
{
    font-size: 22px;
    font-weight: bolder;
    padding-top: 20px;
}
#barre_recherche
{
    display: flex;
}
#icon_localisation
{
    display: flex;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    margin-top: 16px;
}
#zone_texte
{
    display: flex;
    align-items: flex-start;
}
input[type=search]
{
    border : 1px solid #F2F2F2;
    height: 50px;
    width: 230px;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Raleway Regular";
    font-weight: bold;
    
}
#blue_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    margin-top: 16px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    
}
button:active
{
    box-shadow: none;
}